/* Style.css in folder */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.link {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 1.0em;
    color: #477faf;
}

.container_header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.logo {
	max-width: 100px;
	max-height: 100px;
	display: flex;
	margin: auto 0;
}



.text_container_header {
    text-align: right;  
    margin: 10px;
    font-weight: 100;
}

.name {
    /* justify-content: center */
    margin: 0;
    font-weight: 100;
}

.title {
    margin: 0;
    font-weight: 100;
}

.line {
    width: 100%;
    /* color name from hix help: http://chir.ag/projects/name-that-color/#477FAF */
    border: 2px solid #092B48;
    border-style: inset;
}

.main_content {
    display: flex;
    flex-direction: column;
    color: #477faf;
}

.main_image_container { 
    display: flex;
    flex-direction: column; 
}

 .main_image {
    max-width: 1000px;
    margin: auto;
    align-items: center;
} 


.featured_projects_header h1 {
    margin: 1.5em;

}

.featured_projects_header p{
    /* margin: 1.5em; */
    color: red;
}

.projects_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project {
    width: 30%;
}

.project_image {
    display: block;
}

.project-name {
    font-weight: 400;
}

/* To be added by the end (to check for responsive design */
@media screen and (max-width: 400px){
    .projects_container{
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 100%;
        margin: 0.5em;
    }
    .container_header {
        flex-direction: column;
    }
    .text_container_header {
        text-align: center;
    }
    .container {
        margin: 0 2em;
    }
}

@media screen and (max-width: 550px){
    .project {
        widows: 70%;
        margin: 0.5em;
    }
}
@media screen and (max-width: 800px){
    .project {
        width: 40%;
        margin: 0.5em;
    }
    .projects_container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .name {
        font-size: 20;
    }
}
/* test this function */
@media screen and (min-width: 1100px){
    .container{
        margin: 0.5em auto;
    }
}